.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.submit_btn {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    border: none;
    border-radius: 30px;
    padding: 15px;
    width: 150px;
    cursor: pointer;
}

.contacts label,
span {
    display: flex;
    padding: 10px;
    color: var(--white-color);
    font-size: 15px;
    font-weight: 300;
}

.contacts .label p {
    color: var(--white-color);
    z-index: 1000;
}

.contacts input,
textarea {
    background-color: rgba(0, 0, 0, 0.359);
    backdrop-filter: blur(10px);
    width: 400px;
    height: 30px;
    color: var(--white-color);
    border-radius: 30px;
    padding: 20px;
    font-size: 15px;
    font-weight: 300;
    resize: vertical;
    border: 1px solid rgba(0, 0, 0, 0.359);
    scrollbar-width: none;
    outline: none;

}

.contacts input::placeholder,
textarea::placeholder {
    color: rgb(214, 214, 214);
}

.contacts input:hover,
textarea:hover {
    border: 1px solid var(--white-color);
}

.contacts textarea {
    height: 200px;
}

.contacts img {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    /* object-fit: cover; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.flavio_info {
    margin-right: 100px;
    text-align: justify;
    text-align-last: left;
    width: 500px;
    font-size: 22px;
    color: var(--white-color);
    
    transition: 0.1s ease-in-out;
    font-size: 15px;
    font-weight: 300;
}

.flavio_info h2 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 25px;

}

.name {
    width: 31%;
}

.flavio_info h2:hover {
    text-decoration: underline 1px;
    cursor: pointer;
}