.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}

@keyframes slideInY {
    0% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.animate-label {
    animation: slideInY 1s ease-in-out forwards;
    opacity: 0;
    display: flex;
    padding: 10px;
    color: var(--white-color);
    font-size: 15px;
    font-weight: 300;
}

.submit_btn {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px;
    width: 150px;
    cursor: pointer;
    animation: slideInY 1s ease-in-out forwards;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.submit_btn:hover {
    border: 1px solid white;
    background: none;
    color: var(--white-color);
}

.contacts input,
textarea {
    background-color: rgba(0, 0, 0, 0.359);
    backdrop-filter: blur(10px);
    width: 400px;
    height: 30px;
    color: var(--white-color);
    border-radius: 30px;
    padding: 20px;
    font-size: 15px;
    font-weight: 300;
    resize: vertical;
    border: 1px solid rgba(0, 0, 0, 0.359);
    scrollbar-width: none;
    outline: none;
    animation: slideInY 1s ease-in-out forwards;
    opacity: 0;
}

.contacts input::placeholder,
textarea::placeholder {
    color: rgb(214, 214, 214);
}

.textarea:focus {
    outline: none;
}

.contacts input:hover,
textarea:hover {
    border: 1px solid var(--white-color);
}

.contacts textarea {
    height: 200px;
}

.contacts img {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    /* object-fit: cover; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.flavio_info {
    margin-right: 100px;
    text-align: justify;
    text-align-last: left;
    width: 300px;
    font-size: 22px;
    color: var(--white-color);
    transition: 0.1s ease-in-out;
    font-size: 15px;
    font-weight: 300;
    animation: slideInY 1s ease-in-out forwards;
    opacity: 0;
    
}

.flavio_info h2 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 25px;
}

.name {
    width: 51%;
}

.flavio_info h2:hover {
    text-decoration: underline 1px;
    cursor: pointer;
}

