.navbar {
    /* Add necessary styles for your navbar */
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: white;
    font-size: 18px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 15%;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;
  }
  
  .navbar .fa-bars {
    position: fixed;
    color: white;
    cursor: pointer;
    font-size: 22px;
    margin-left: 1444px;
    padding-top: 30px;
    transition: 0.3s ease-in-out;
    z-index: 3;
  }
  
  .navbar .fa-bars.active-icon {
    color: black;
  }
  
  .navbar li {
    padding: 50px;
    cursor: pointer;
  }
  
  /*================== SLIDE IN AND OUT */
  @keyframes slideIn {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
  }
  
  @keyframes slideOut {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
  }
  
  .navbar-menu {
    transform: translateX(100%);
  }
  
  .navbar-menu.open {
    animation: slideIn 0.6s forwards;
    transform: translateX(0);
  }
  
  .navbar-menu.closed {
    animation: slideOut 0.6s forwards;
    transform: translateX(0);
  }
  